html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
}


#container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  text-align: left;
}

.channel_container{
  background-color: #c4e1e2;
  padding: 20px;
  margin-top: 10px;
}

.inner {
  display: inline-block;
}

.image img {
  width: 50px;
  height: 50px;
}

.name {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 20px;
}

.status {
 margin-left: 25px;
}